/*Стили для всего документа*/
html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	min-height:400px;
	min-width:320px;
	background-color:#f2f2f2;
} 
a{
	text-decoration:none;
}
/*Стили для шапки и футера*/
footer,header{
	
	min-width:560px;
	width:80%;
	margin-left:10%;
	background-color:#d2d2d2;
	border:2px solid #77b;
	border-radius:4px;
	float:left;
}
header{
	height:15%;
	min-height:70px;
}
header span{
	margin-left:2%;
	font-size:1.4em;
	font-family:Comic Sans MS;
}
header a{
	float:left;
	margin-left:2%;
	color:#66d;
	border-radius:4px;
}
header a:hover{
	transition:0.8s ease ;
	background-color:#c2c2c2;
	color:#00aaaa;
}
/*"Разрыватель шапки и футера"*/
#page-wrap:after{
	content:"";
	display:block;
}
footer,#page-wrap:after{
	height:10px;
}
#page-wrap{
	
	margin-bottom:-5px;
}
footer{
	height:5%;
	min-height:30px;
}
footer span{
	font-size:1em;
	font-family:;
}
/*Стили для "центра"*/
#content{
	min-width:560px;
	float:left;
	width:80%;
	height:80%;
	margin-left:10%;
	margin-top:1%;
}
#about,#bannerBlock{
	height:80%;
}
#about{
	margin-top:5%;
	float:left;
	width:35%;
	background-color:#d2d2d2;
	border:2px solid #77b;
	border-radius:4px;
}
#about span {
	font-family:Segoe UI;
	padding-left:2%;
}
#bannerBlock{
	float:right;
	width:60%;
	margin-top:4%;
}
#bannerBlock div{
	height:22%;
	margin-top:2%;
	border:2px solid #77b;
	border-radius:4px;
	background-color:#d2d2d2;
	
}
#bannerBlock div a{
	font-size:1em;
	font-family:comic sans ms;
	float:right;
	padding:2%;
	border-radius:4px;
	color:#66d;
	}
#bannerBlock div a:hover{
	background-color:#c2c2c2;
	color:#00aaaa;
	transition:0.8s ease ;
}
#bannerBlock div a:active{
	color:#aa0000;
}
#bannerBlock div span{
	margin-left:10px;
	font-size:1.3em;
	font-family:Segoe UI;
}
#read{
	float:left;
	margin-top:2%;
	min-height:77%;
	margin-bottom:2%;
	width:80%;
	margin-left:10%;
	border:2px solid #77b;
	border-radius:4px;
	background-color:#d2d2d2;
	min-width:560px;
	}
#read span {
	text-align:left;
	margin-left:10px;
	
}
.left{
	float:left;
}
/*Оптимизация*/

@media(min-width:576px){
	body{
		min-height:100%;
		background-color:red;	
	}
	#about{
		padding-top:2%;
		padding-bottom:2%;
		margin-top:1px;
		float:left;
		height:15%;
		width:100%;
		border:1px solid #77d;
	}
	header{
		margin-top:5px;
		width:92%;
		margin-left:4%;
		border:1px solid #77d;
	}
	#content{
		width:92%;
		margin-left:4%;
	}
	#bannerBlock{
		width:100%;
		margin-top:5px;
		}
	#bannerBlock div{
		border:1px solid #77d;
		min-height:87px;
	}
	footer{
		margin-top:10px;
	}
	#read{
	width:92%;
	margin-left:4%;
	border:1px solid #77d;	
	}
}
@media(min-width:768px){
	body{
		background-color:yellow;
	}
	#about{
		font-size:2em;
		padding-top:2%;
		padding-bottom:2%;
		margin-top:10px;
		float:left;
		height:15%;
		width:100%;
		border:1px solid #77d;
	}
	header{
		font-size:1.2em;
		margin-top:5px;
		width:92%;
		margin-left:4%;
		border:1px solid #77d;
	}
	#bannerBlock{
		width:100%;
		margin-top:15px;
		}
	#bannerBlock div{
		border:1px solid #77d;
		min-height:180px;
		font-size:2em;
		margin-top:20px;
		}
	footer{
		border:1px solid #77d;
		font-size:2em;
		width:92%;
		margin-left:4%;
		margin-top:20px;
		margin-bottom:20px;
	}
	#read{
	border:1px solid #77d;	
	width:92%;
	margin-left:4%;
	}
}
@media(min-width:992px){
	body{
		background-color:green;
	}
}
@media(min-width:1200px){
	body{
		background-color:blue;
	}
}