/*Стили для всего документа*/
html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	min-height:400px;
	min-width:320px;
	background-color:#f2f2f2;
} 
a{
	text-decoration:none;
}
/*Стили для шапки и футера*/
footer,header{
	font-size:1em;
	min-width:560px;
	width:80%;
	margin-left:10%;
	background-color:#d2d2d2;
	border:2px solid #77b;
	border-radius:4px;
	float:left;
}
header{
	height:15%;
	min-height:70px;
}
header span{
	margin-left:2%;
	font-size:1.4em;
	font-family:Comic Sans MS;
}
header a{
	float:left;
	margin-left:2%;
	color:#66d;
	border-radius:4px;
}
header a:hover{
	transition:0.8s ease ;
	background-color:#c2c2c2;
	color:#00aaaa;
}
/*"Разрыватель шапки и футера"*/
#page-wrap:after{
	content:"";
	display:block;
}
footer,#page-wrap:after{
	
	height:10px;
}
#page-wrap{
	height:94%;
	margin-bottom:-5px;
}
footer{
	margin-top:6%;
	height:5%;
	min-height:30px;
	
}
footer span{
	font-size:1em;
	font-family:;
}
/*Стили для "центра"*/
#content{
	margin-top:-20px;
	min-width:560px;
	float:left;
	width:80%;
	height:80%;
	margin-left:10%;
}
#bannerBlock{
	height:80%;
}
#bannerBlock{
	float:right;
	width:100%;
	margin-top:4%;
}
#bannerBlock div{
	height:22%;
	margin-top:2%;
	border:2px solid #77b;
	border-radius:4px;
	background-color:#d2d2d2;
	
}
#bannerBlock div a{
	font-size:1em;
	font-family:comic sans ms;
	float:right;
	padding:2%;
	border-radius:4px;
	color:#66d;
	}
#bannerBlock div a:hover{
	background-color:#c2c2c2;
	color:#00aaaa;
	transition:0.8s ease ;
}
#bannerBlock div a:active{
	color:#aa0000;
}
#bannerBlock div span{
	margin-left:10px;
	font-size:1.3em;
	font-family:Segoe UI;
}
#read{
	float:left;
	margin-top:2%;
	min-height:77%;
	margin-bottom:2%;
	width:80%;
	margin-left:10%;
	border:2px solid #77b;
	border-radius:4px;
	background-color:#d2d2d2;
	min-width:560px;
	}
#read span {
	text-align:left;
	margin-left:10px;
	
}
.left{
	float:left;
}
/*Оптимизация*/
@media(min-width:576px){
	header{
		min-height:100px;
	}
header,footer{
		width:92%;
		margin-left:4%;
		font-size:25px;
	}
	#read{
		font-size:1.3em;
		margin-left:4%;
		width:92%;
	}
	#content{
		width:92%;
		margin-left:4%;
	}
	#bannerBlock div {
		font-size:20px;
		height:27%;
	}}
@media(min-width:728px){
	
	header{
		min-height:130px;
	}
	header,footer{
		width:92%;
		margin-left:4%;
		font-size:30px;
	}
	#read{
		font-size:1.3em;
		margin-left:4%;
		width:92%;
	}
	#content{
		width:92%;
		margin-left:4%;
	}
	#bannerBlock div {
		font-size:34px;
		height:27%;
		min-height:100px
	}
}
@media(min-width:1024px){
	header{
	min-height:200px;
	}
	header,footer{
		width:92%;
		margin-left:4%;
		font-size:20px;
	}
	#read{
		font-size:23px;
		margin-left:4%;
		width:92%;
	}
	#content{
		width:92%;
		margin-left:4%;
	}
	#bannerBlock div {
		font-size:1.1em;
		height:27%;
	}
	#bannerBlock div a{
		font-size:20px;
	}
}